.formWh, .formProd{
    border-radius: 10px;
    width: 500px;
    border-style: solid;
    padding: 10px;
    border-color: whitesmoke;
}

.form-label{
    margin-top: 8px;
}

.btn{
    margin-top: 16px;
}

.chartjs{
    width: 50%;
}

.hside{
    text-align: end;
    margin: 0px !important;
}