{% extends 'base.html' %}
{% block content %}

<h2>Tokopedia Credential</h2>

<form method="POST" class="formProd">
    <label for="InpAppId" class="form-label">App ID</label>
    <input class="form-control" type="text" value="{{df.appId}}" aria-label="default input example" id="InpAppId" name="InpAppId" required>
    <label for="InpClientId" class="form-label">Client ID</label>
    <input class="form-control" type="text" value="{{df.clientId}}" aria-label="default input example" id="InpClientId" name="InpClientId" required>
    <label for="InpClientSecret" class="form-label">Client Secret</label>
    <input class="form-control" type="password" value="{{df.clientSecret}}" aria-label="default input example" id="InpClientSecret" name="InpClientSecret" required>
    <label for="InpClientBearer" class="form-label">Bearer Token</label>
    <input class="form-control" type="password" value="{{df.clientBearer}}" aria-label="default input example" id="InpClientBearer" name="InpClientBearer">
    <!-- <label for="InpProdName" class="form-label">Product Name</label>
    <input class="form-control" type="text" placeholder="" aria-label="default input example" id="InpProdName" name="InpProdName" required> -->
    {% if df %}
    <input type="submit" name="action" value="Update Credential" class="btn btn-primary mb-3">
    {% else %}
    <input type="submit" name="action" value="Add Credential" class="btn btn-primary mb-3">
    {% endif %}
    
</form>

{% endblock %}


