{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col"> 
        <h2>Tokopedia Product</h2>
    </div>
    <div class="col hside"> 
        <button type="button" class="btn btn-primary hside" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product
        </button>
    </div>
</div>
<br>
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Status</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in df %}
        <tr>
            <!-- <td>{{i.id}}</td> -->
            <td>{{i.product_id}}</td>
            <td>{{i.product_name}}</td>
            <td>{{i.product_status}}</td>
            <td>
                {% if i.product_status=='Active' %}
                <a href="{{url_for('dash',id=i.product_id,name=i.product_name)}}">chart</a>
                {% else %}
                <a href="{{url_for('delprod',id=i.id)}}">delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <form method="POST">
                <label for="InpWhId" class="form-label">Product ID</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example" id="InpProdId" name="InpProdId" required>
                <input type="submit" name="action" value="Add Product" class="btn btn-primary mb-3">
                <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}
