{% extends 'base.html' %}
{% block content %}

<h2>redeem nutripoint</h2>
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cust ID</th>
            <th>Redeem Item</th>
            <th>Req Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in df %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nmuserid}}</td>
            <td>{{i.redeemitem}}</td>
            <td>{{i.reqdate}}</td>
            <td>
                <a href="#">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}




