{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col"> 
        <h2>Tokopedia Warehouse</h2>
    </div>
    <div class="col hside"> 
        <button type="button" class="btn btn-primary hside" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Warehouse
        </button>
    </div>
</div>
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>WH ID</th>
            <th>WH Name</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in df %}
        <tr>
            <!-- <td>{{i.id}}</td> -->
            <td>{{i.warehouse_id}}</td>
            <td>{{i.warehouse_name}}</td>
            <td><a href="{{url_for('delwh',id=i.id)}}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <form method="POST">
                <label for="InpWhId" class="form-label">WH ID</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example" id="InpWhId" name="InpWhId" required>
                <label for="InpWhName" class="form-label">WH Name</label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example" id="InpWhName" name="InpWhName" required>
                <input type="submit" name="action" value="Add WH" class="btn btn-primary mb-3">
                <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}


